<a href="https://colab.research.google.com/github/aravindrepository/PYTHON_learning/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a1=10
print(a1)

10

to get without mail

In [ ]:
a="aravinda@gmail.com"
bbb=a[-10:]
for a in a:
  if a=="@":
   break
  print(a)
print(bbb)

a
r
a
v
i
n
d
a
@gmail.com

In [ ]:
iii=[1,4,6,7,8]
print(max(iii))

8

In [ ]:
def palin(n):
  return n==n[::-1]

text=input("enter a text  ")
if palin(text):
  print("palindrome true!!")
else:
  print("not a palindrome")

enter a text  hello
not a palindrome

In [ ]:
def fibo(n):
  fn=[0,1]
  for i in range(2,n):
    fn.append(fn[-1]+fn[-2])
  return fn
ddt=int(input("enter a number"))
print(fibo(ddt))

enter a number10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

fibonacchi

random num + guessing game

In [ ]:
import random
num= random.randint(0,10)
count=0
print("try to guess the number")
while True:
  ans=int(input("enter a number"))
  count +=1
  if ans > num:
    print("thats too big")
  elif ans < num:
    print("thats a bit small init")
  else:
    print("thats the right answer",count)
    break

try to guess the number

odd or even in a list

In [ ]:
oddoreven=[1,2,3,4,5,6,7,8,9,10]
odd=0
even=0
for num in oddoreven:
    if num%2==0:
        even+=1
    else:
        odd+=1
print("no of odd numbers",odd)
print("no of even numbers",even)

no of odd numbers 5
no of even numbers 5

except 2 and 3

In [ ]:
for i in range(6):
  if (i==2 or i==3):
    continue
  print(i,end='')

0145

In [ ]:
for i in range(10):
  print(str(i)*i ,"\n")

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [ ]:
aa="True"
type(aa)
aa[0]

'T'

line countinuation

In [ ]:
2*4 + 6 +\
10

24

discount

In [ ]:
price=100
qq= int(input("enter total quantity "))
tp= price * qq
of=tp*.10
fp=tp-of
print("total price is:"+str(tp))
if tp >= 1000:
    print("10% offer is applicable, total price will be", str(fp))
else:
    print("thank you for shopping ")

enter total quantity 200
total price is:20000
10% offer is applicable, total price will be 18000.0

Grade

In [ ]:
print("enter a grade")
grade=int(input())
if grade < 25:
    print("grade is f")
elif grade > 25 and grade < 45:
    print("grade is E")
elif grade > 45 and grade < 50:
    print("grade is D")
elif grade > 50 and grade < 60:
    print("grade is C")
elif grade > 60 and grade < 80:
    print("grade is B")
else:
  print("grade is A")

enter a grade
79
grade is B

attendence percentage

In [ ]:
class_h=int(input("enter total no of class hours: "))
class_a=int(input("enter total no of class attended "))
class_ml=str(input("medical leave yes or no "))
per= (class_a/class_h)*100
if per > 75:
    print("you are allowed to attend the exams")
elif class_ml == "yes":
    print("medical leave will be considered and you will be allowed to write the exams")
else:
  print("you are not allowed to attend the exams")

enter total no of class hours:100
enter total no of class attended50
medical leave yes or noyes
medical leave will be considered and you will be allowed to write the exams

Functions

In [ ]:
def reverse_string(string_a):
    return string_a[::-1]
reverse_string("hello")

'olleh'

In [ ]:
def even_or_odd(x):
    if x%2==0:
      print("even")
    else:
      print("Odd")
print("enter a number")
x1=int(input())
even_or_odd(x1)

enter a number
4
even

goofy

In [ ]:
def hello_world():
  print("Print()")


hello_world()

Print()

In [ ]:
def percentage(x,y):
    m=x/y*100
    print("the percentage is:")
    return m
percentage(10,100)

the percentage is:

10.0

domain finder

In [ ]:
def return_domain(x):
   m=x[-10:]
   return m

mail_id=str(input("enter a mail id: "))
return_domain(mail_id)

enter a mail idaravinda2@gmail.com

'@gmail.com'

name from mail id

In [ ]:
def name_from_mail(x):
      n=x[:-10]
      return n
name_from_mail("hello@gmail.com")

'hello'

In [ ]:
def is_cube(x,y):
   if x==y:
    print("the given dimension are of a cube indeed!")
   else:
    print("Not a cube :(")
print("enter dimesions:")
a=float(input())
b=float(input())
is_cube(a,b)

enter dimesions:
10
10
the given dimension are of a cube indeed!

In [ ]:
i=1
a=0
b=1
c=0
while i < 10:
  c=a+b
  print(str(c))
  a=b
  b=c
  i+=1

1
2
3
5
8
13
21
34
55

In [ ]:
def fibooo(x):
  i,a,b,c=1,0,1,0
  while i <= x:
    c=a+b
    print(str(c))
    a=b
    b=c
    i+=1
x1=int(input("enter a no:"))
fibooo(x1)

enter a no:12
1
2
3
5
8
13
21
34
55
89
144
233

fiboo but even only

In [ ]:
i=1
a=0
b=1
c=0
print("enter a number")
count=int(input())
while i < count:
  c=a+b
  a=b
  b=c
  i+=1
  if c%2==0:
    print(c)

enter a number
50
2
8
34
144
610
2584
10946
46368
196418
832040
3524578
14930352
63245986
267914296
1134903170
4807526976

fiboo but odd

In [ ]:
i=1
a=0
b=1
c=0
while i < 10:
  c=a+b
  a=b
  b=c
  i+=1
  if c%2!=0:
    print(c)

1
3
5
13
21
55

In [ ]:
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        return abs(x)
    else:
      print("not possible")
xx=int(input("enter a number: "))
distance_from_zero(xx)

enter a number: 23

23

In [ ]:
def typeof(x):
  return type(x)
typeof("string")

str

In [ ]:
def sort_function(al):
    return al.sort(reverse=Fl)
x=[4,6,2,6,8]
sort_function(x)

Dictionary

In [27]:
a={'a':'first','b':'Second','c':'third'}
a['c']
a['d']='fifth'
a
a['d']='Forth'
a['efg']=['fifth','sixth','seventh']
print(a.get('d'))

Forth